# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle opencv-compile-run'
      'command': 'opencv-compile-run:toggle'
    },
    {
        'label' : 'Run opencv-compile-run'
        'command' : 'opencv-compile-run:compile'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'opencv-compile-run'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'opencv-compile-run:toggle'
        },
        {
            'label' : 'Compile opencv-compile-run'
            'command' : 'opencv-compile-run:compile'
        },
        {
            'label' : 'Run opencv-compile-run'
            'command' : 'opencv-compile-run:run'
        },
        {
            'label' : 'Compile & Run opencv-compile-run'
            'command' : 'opencv-compile-run:compile-run'
        }
      ]
    ]
  }
]
